// main stylesheet


// general styles
// Bootstrap defines a base font size of 10px in html, then overwrites it to 16px in body.
// I will be mostly using rems in this stylesheet.

a {
	color: #00c;
	&:hover {
		color: #00c;
	}
}

.highlighted {
	color: #f60;
	font-weight: bold;
}


.infoBox {
	padding: 1rem;
	background: #e5f2ff;
	text-align: center;
}



// upper navigation bar
// the topnav needs to be as wide as the screen
#topnav {
	min-height: 3.4rem;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 1.5rem;
	border: 0;
	border-bottom: 1px solid #ccc;
	border-radius: 0;


	font-size: 1.33rem;

	> * > * {
		display: inline-block;
		padding: 0.9rem 1.2rem;
	}

	.current {
		font-weight: bold;
	}
}
	
	// These are not grid columns to allow for a better fit on
	// mid-widths.
	#firstNav, #secondNav {
		padding-left: 0;
		padding-right: 0;

		display: inline-block;
	}

	#secondNav {
		float: right;
		text-align: right;
		.highlighted {
			font-weight: normal;
		}
	}





// generic content and components

// logo
img.logo {
	width: 100%;
	max-width: 250px;
}


// search form
.searchForm {
	width: 100%;
}

	.formItem {
		display: block;
		padding: 0.5rem 0;
		width: 100%;

		label {
			display: block;
			@extend .highlighted;

			margin-bottom: 0.5rem;

			font-size: 1.86667rem;
			line-height: 1;
		}

		input, button {
			font-size: 1.8rem;
			line-height: 1;
			padding: 0.8rem 0.6rem;
		}

		input {
			width: 100%;

			border: 0.1rem solid #ccc;
			border-bottom-color: #aaa;
			border-right-color: #aaa;
			-webkit-box-shadow: 1px 1px 0 0 #ddd;
			box-shadow: 1px 1px 0 0 #ddd;
		}

		button {

			position: relative;

			padding: 0.8rem 1.6rem;
			width: 100%;

			border: 0.1rem solid #1c4ed9;

			background-color: #3163f2;
			background-image: -webkit-gradient(linear,left top,left bottom,from(#3163f2),to(#2b57d5));
			background-image: gradient(to bottom, #3163f2, #2b57d5);

			color: #fff;
			font-size: 1.5rem;
			line-height: 1.3;

			&:before {
				content: "";
				width: 98%;
				height: 0.1rem;

				position: absolute;
				top: 0;
				left: 1%;

				border-bottom: 1px solid #69f; 
			}

			&:hover {
				border-color: lighten(#1c4ed9, 8);

				background-color: lighten(#3163f2, 8);
				background-image: -webkit-gradient(linear,left top,left bottom,from(lighten(#3163f2,8)),to(lighten(#2b57d5,8)));
				background-image: gradient(to bottom, lighten(#3163f2,8), lighten(#2b57d5,8));

				&:before {
					border-bottom: 1px solid lighten(#69f, 8);
				}

			}

		}

		.subtext {

			margin-top: 0.2rem;

			color: #aaa;
			font-size: 1.2rem;

			a {
				color: #77c;
				font-size: 1.1rem;
			}

		}

	}

	.fiButtonSpacer {
		display: none;
	}


// upload cta

.uploadIcon {

	&:before {
		content: "";
		width: 1.8rem;
		height: 2.4rem;

		vertical-align: middle;

		display: inline-block;

		background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAYCAMAAADAi10DAAAAA3NCSVQICAjb4U/gAAAAdVBMVEX////x7/3v7vjl4vXj4PTi3/Lg3fHf2/Dd2u7c2O3a1+vZ1erX0+nW0ufU0ObSz+TRzePPy+LOyuDMyN+uqt+lpeaIiNojI84gIMoeHsccHMQaGsEXF74VFbsTE7gREbQODrEMDK4KCqsICKgFBaQDA6EBAZ54rl54AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M1cbXjNgAAABV0RVh0Q3JlYXRpb24gVGltZQA5LzEzLzExzT7gEAAAAIJJREFUGNOt0LsOgkAQRuFzkGhP5Ob7PxsmaCy5KDEWC0vEQgv/avPN7M5mzNkm5bqRY0ry2eX/6c5+Q2PO5RAoQdWx0GJUdaahVC2HlfpKVat+oa52Tt1peP4MJ6ABDBMzuAmQwSPQFKowxS4W8u2rX8jdSuGYtkR6tvPFleImfqEXCDYV9f9Fn8cAAAAASUVORK5CYII=");
	}
}


// recent searches 

.recentSearchesStripe {
	margin: 0 0 4rem;
	// font-size: 1.6rem;
}

	.recentSearchesHeader {
		color: #6f6f6f;
		border-bottom: 1px solid #ebebeb;
		padding: 0.8rem 0;
		a {
			color: #77c;
		}
	}

	ul.recentSearches {
		list-style: inside none;
		padding-left: 0;

		li {
			padding: 0.8rem 0;
		}
	}






// page footer

#siteFooter {
	text-align: center;
	font-size: 1.3rem;
}



// cookie warnings

#cookieWarning {
	margin: 0 auto;
	width: 100%;
	max-width: 560px;

	font-size: 1.2rem;
	text-align: center;

	a {
		text-decoration: underline;
	}
}


// footernav

.resultsFooterNavStripe,
.footerTerms {

	margin: 0;
	padding: 1rem 1rem 0; 

	font-size: 1.4rem;

	a {
		display: inline-block;
		padding: 1rem;
		margin: 0.2rem 0;
		border: 0.1rem dotted #ddd;
	}

	.separator {
		display: none;
	}
}

.resultsFooterNavStripe {
	min-height: auto;
	padding-bottom: 1rem;
	& + .footerTerms {
		padding-top: 0;
	}
}

.footerTerms {
	padding-bottom: 2rem;
}



// content in particular pages

// index content

body.index {
	.topStripe {
		min-height: 3.3rem;
		margin-bottom: 1.7rem;
	}

	.uploadStripe {
		margin: 1.3333rem 0;
		text-align: center; 
	}

	.uploadCv {
		font-weight: bold;
	}

}


// search content

body.search {

	// top row
	.topStripe {
		padding-bottom: 1.5rem;
	}

}


	// refine search

	#refineSearch { }

		.currentSearch {

			margin-top: 0;
			font-weight: bold;
		}

		h1.currentSearch {
			font-size: 2rem;
		}


		// selector to display most of the items

		.refineItemSelector {
			background: lighten(#77c, 32);
			margin-bottom: 1rem;
		}

		.refineItemsWrapper {
			display: none;
			border: 1px solid lighten(#77c,24);
			padding: 1rem;
			
			background: #fff;
		}

		input#refine {
			margin-left: 1rem;
			min-width: 1.6rem;
			min-height: 1.6rem;
		}

		input#refine:checked ~ .refineItemsWrapper {
			display: block;
		}


		// refiner items themselves
		.refineItemsWrapper .refineItem {
			padding: 0.6rem 0;
			font-size: 1.4rem;

			select, option {
				padding: 0.2rem;
			}
		}


		ul.refineList {
			padding-left: 0;
			margin-bottom: 0;
			li {
				list-style: none;
				padding: 0.4rem 0;
			}
		}




	// search results

	.searchResults { }

		#searchCount {
			color: #6f6f6f;
			font-size: 1.2rem;
		}


		.searchResult {
			margin: 0;
			padding: 1.6rem 0;
			border-bottom: 0.1rem dotted #ccc;
		}

			.resultHeader {
				color: #000;
				margin-bottom: 0.5rem;
			}

				.resultTitle {
					font-size: 1.8rem;
					font-weight: bold;
					margin: 0.2rem 0;
				}

				.resultCompany {
					font-size: 1.5rem;
				}

				.resultStars {
					display: inline-block;
				}

					.yellowStar, .grayStar {
						display: inline-block;
						// these dimensions are given in pixels
						// to correspond to their bg image
						width: 11px;
						height: 11px;

						background: url(../images/star_sm.png) top left;
						overflow: hidden;
					}

					.yellowStar {
						background-position: bottom left;
					}

				// color was changed to the default for links,
				// to aid in usability
				a.resultOtherLocations {
					font-size: 1.2rem;
				}

			.resultDescription {
				color: #444;
				font-size: 1.3rem;
				margin-bottom: 0.5rem;
			}

			.resultFooter {
				color: gray;
				font-size: 1.3rem;
				a {
					color: #77c;
				}
			}

		#searchResultsPagination {

			margin: 1.5rem 0;

			span, a {
				display: inline-block;

				padding: 0.4rem 1.2rem;
				margin: 0 0.2rem;
				border: 1px dotted #ccc;
				font-size: 1.4rem;

			}

			.current {
				font-weight: bold;
			}
		}


	// Email subscription box

	.emailSubscriptionBox {

		background: #ebebeb;
		padding: 0.6rem 0.4rem;

		.blurb {
			&:before {
				content: "";
				display: inline-block;
				margin: 0 0.5rem 0 0;
				width: 18px;
				height: 12px;
				background: url(../images/ja_icon.png);
				vertical-align: middle;
			}
		}

		.formItem label {
			color: #000;
		}


		button {
			margin: 0.5rem 0;
			padding: 0.4rem 1.2rem;
			font-size: 1.6rem;
		}

	}

		#esbCallToAction {

			position: relative;

			padding: 1.3rem 1.0rem;
			margin: 2rem 0;

			background: #f60;
			color: #fff; 
			font-weight: bold;

			// taken from the original site
			&:after {
			    content: "";
			    position: absolute;
			    top: 100%;
			    left: 3%;
			    bottom: auto;
			    border-width: 16px 10px 16px 10px;
			    border-style: solid;
			    border-color: #f60 transparent transparent transparent;
			    display: block;

			}

		}

		p.esbCancel {
			margin-bottom: 0;
			font-size: 1.1rem;
			color: #666;
		}



		#emailSubscriptionBottom {
			border: 0.2rem solid #f60;
		}

		// The right subscription box disappears in this point; it would
		// appear right above #emailSubscriptionBottom, redundantly
		#emailSubscriptionRight {
			display: none;
		}








// "smaller" media query -- hits before the smallest one in Bootstrap

@media (screen and min-width: 600px) {


	// generic content and components

	// search form

	.searchForm {
		display: table;
		width: 100%;
	}

		.formItem {
			display: table-cell;
			width: auto;
			padding: 0 0.3rem 0 0;

			input, button {
				padding: 0.3rem 0.6rem;
			}

			button {
				padding: 0.4rem 0.8rem;
				width: auto;
				
			}
		}



		// @extend can't be used across media queries
		.fiButtonSpacer {
			display: block;
			margin-bottom: 0.5rem;

			font-size: 1.86667rem;
			line-height: 1;			
		}


	// recent searches
	.recentSearchesStripe {
		font-size: 1.3333rem;			
	}

		.recentSearchesHeader {
			padding: 0;
		}

		ul.recentSearches {
			li {
				padding: 0.3rem 0;
			}
		}


	// footernav

	.resultsFooterNavStripe,
	.footerTerms {
		font-size: 1.2rem;
		a {
			padding: 0;
			border: 0;
		}
		.separator {
			display: inline;
		}
	}


}


// small media query (same as Bootstrap)

@media (screen and min-width: 768px) {


// upper navigation bar
	
	#firstNav {
		// to counterbalance the paddings given by Bootstrap's grid, since we're not
		// using a .container here.
		// I will be using px here because the margin in Bootstrap is also defined in px.
		padding-left: 15px; 	
	}

	#secondNav {
		// Same as above.
		padding-right: 15px;
		text-align: right;
		.highlighted {
			font-weight: normal;
		}
	}


	// search page content

	body.search {



		// search form: labels
		.formItem label {
			font-size: 1.3333rem;
		}		

		// search results
		#searchCount {
			text-align: right;
			float: right;
			display: inline-block;
			margin: 0 0 2rem 3rem;
		}


		// email subscription boxes
		.emailSubscriptionBox {
			.formItem {
				display: block;
				width:100%;
				max-width: 28rem;
			}
			button {
				font-size: 1.2rem;
			}
		}



	}


}



// "medium" media query -- matches with Bootstrap

@media (screen and min-width: 992px) {

	// font size slightly increased for emphasis
	h1.currentSearch { 
		font-size: 1.6rem;
	}

	// search refiner is irrelevant at this size

	input#refine, label[for="refine"] {
		display: none;
	}

	.refineItemsWrapper {
		display: block;
		border: 0;
		padding: 0;
		.refineItem {
			font-size: 1.2rem;
		}
	}

	ul.refineList li {
		padding: 0.2rem 0;
	}


	// bottom subscription box: appears from this point onwards
	#emailSubscriptionRight {
		display: block;
	}



}
